<h3>{{ title$ | async }}</h3>
<ng-first-search
  [searchTerm]="text"
  (searchTermChange)="changeText($event)"
></ng-first-search>
<mat-checkbox [checked]="onlyFavorites" (change)="setFavourites($event)">Checked</mat-checkbox>

<div
  *ngIf="products$ | async as myProducts else loader;"
  fxLayout="row wrap"
  fxLayoutGap="16px grid"
>
  <ng-first-product-card
    fxFlex="25%"
    fxFlex.sm="33%"
    fxFlex.xs="100%"
    *ngFor="let product of myProducts | productsFilter: text: onlyFavorites; odd as odd"
    [product]="product"
    [isOdd]="odd"
  >
  </ng-first-product-card>
</div>
<ng-template #loader>
  <div>...loading</div>
</ng-template>
